<style>
  #footlink{
    color:hsl(171, 100%, 41%);
  }
  
</style>
<footer class="footer d-none d-lg bg-light py-0 mt-auto shadow-lg ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm  text-start">
        <strong>NIRVAN</strong> by <a href="#" id="footlink">Anand Raj</a>
      </div>
      <div class="col-sm d-sm-none text-start">
        <span class="text-muted">&copy; Nirvan 2021</span>
      </div>
      <div class="col-sm d-none d-sm-inline text-center">
        <span class="text-muted">&copy; Nirvan 2021</span>
      </div>
      <div class="col-xl  text-end">
        <span> The website content
          is licensed <a> href="https://opensource.org/licenses/ISC" id="footlink">CC BY ISC</a>.</span>
      </div>
    </div>
  </div>
</footer>

