<% layout('layout/boilerplate')%>
      <style>

      </style>
      <h1>Thank You, Everyone</h1>
      <div class="card mx-auto shadow-lg">
            <div class="card">

            </div>
      </div>
      <li><a class="dropdown-item" id="primary" href="/information">Information</a></li>
      <li><a class="dropdown-item" id="primary" href="/curiosity">Policy</a></li>