<% layout('layout/boilerplate')%>
<style>
    #container{
        max-width: 900px;
        background-color: white;
        border-radius: 15px;
    }
    #imagediv{
        max-width: 291.71px;
        max-height: 550px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    }
    #texture{
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
    }
    #container2{
        max-width: 500px;
    }

    @media(max-width:768px){
        #texture{
        max-width: 170px;
        height: 400px;
    }
    #imagediv{
        max-width: 170px;
    }
    #container{
        height: 400px;

    }
    #container2{
        max-height: 400px;
    }
    #font{
        font-size:x-large;
    }
    }
    @media(max-width:490px){
    #container{
        background-image: url('https://images.unsplash.com/photo-1635523647465-9326ed99979d?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1MXx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    }
    #imagediv{
    display: none;
    }
    }
</style>
<% layout('layout/boilerplate')%>
<%- include('../partials/flash')%>
<div class="container shadow-lg p-0 my-5" id="container">
    <div class="row p-0 justify-content-end">
        <div class="col container-fluid mx-5 mt-3" id="container2">
            <form action="/login" method="POST" class="validated-form" novalidate >
                <h1 class="mb-3">Log In</h1>
                <div class="mb-3" >
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3" >
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <button class="btn btn-dark"><i class="fas fa-check fa-lg"></i></button>
                </div>
                
                <div class="row justify-content-md-center">
                   <div class="col-4 m-0 p-0"><hr></div>
                   <div class="col-auto my-1 px-3">OR</div>
                   <div class="col-4 m-0 p-0"><hr></div>
                </div>
                <div class="d-flex justify-content-around">
                    <a class="text-dark " href="/auth/google"><i class="fab fa-google fa-3x col-4" id="font"></i></a>
                    <a class="text-dark " href="/auth/facebook"><i class="fab fa-facebook fa-3x col-4" id="font"></i></a>
                </div>
            </form>
            
            
            
        </div>
        <div class="col p-0" id="imagediv">
            <img class="img-fluid" id="texture" src="https://images.unsplash.com/photo-1518531933037-91b2f5f229cc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIxfHx0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
        </div>
    </div>
</div>
<!--         -->
<!-- <h1>LogIn</h1>
<form action="/login" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-success">LogIn</button>
</form>
<a class="btn btn-danger" href="/auth/google">Google+</a>
<a class="btn btn-primary" href="/auth/facebook">Facebook</a> -->